<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Customer Details</title>
<link
	href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
	rel="stylesheet">
<link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

	<form action="#" th:object="${selectedClient}" method="get">

		<div class="content">
			<div class="header">
				<h1>Client details</h1>
			</div>
			<div class="inputFields">
				<div class="textfields">
					<label>Client ID : </label> <label th:text="${selectedClient.id}">Client
						ID</label><br> <label>First Name : </label> <label
						th:text="${selectedClient.name}">Client name</label><br> <label>Last
						Name : </label> <label th:text="${selectedClient.surname}">Client
						surname</label><br> <label>Date Of Birth : </label> <label
						th:text="${selectedClient.date}">Client dob</label><br> <label>Gender
						: </label> <label
						th:text="${selectedClient.clientSubTypeCode.clientTypeDescription}">Client
						gender</label><br>
				</div>
			</div>

			<div class="header">
				<h1>Transactional Account Balances</h1>
				<div class="tableStyle" th:if="${ not#lists.isEmpty(accounts)}">
					<table class="styled-table">
						<thead>
							<tr>
								<th>Account Number</th>
								<th>Account Type</th>
								<th>Balance</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="account : ${accounts}">
								<td th:text="${account.clientAccountNumber}">Account Number</td>
								<td th:text="${account.accountTypeCode.description}">Account
									Type</td>
								<td th:text="${account.displayBalance}">balance</td>
								<td><a th:href="@{'/clients/withdraw/'+${clientId}}+'/'+${account.clientAccountNumber}">Withdraw Cash</a></td>

							</tr>

						</tbody>
					</table>
				</div>

				<h1>Currency Account Balances</h1>
				<div class="tableStyle"
					th:if="${ not#lists.isEmpty(currencyAccounts)}">
					<table class="styled-table">
						<thead>
							<tr>
								<th>Account Number</th>
								<th>Currency</th>
								<th>Currency Balance</th>
								<th>Currency Conversion Rate</th>
								<th>ZAR Amount</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="currAccount : ${currencyAccounts}">
								<td th:text="${currAccount.accountNumber}">Account Number</td>
								<td th:text="${currAccount.currency}">currency Code</td>
								<td th:text="${currAccount.currencyBalance}">balance</td>
								<td th:text="${currAccount.currencyConvRate}">currency
									Conversion rate</td>
								<td th:text="${currAccount.zarAmount}">ZAR amount</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
			
			<a th:href="@{/}">Home</a>
			<!--  <div>
			<h1>withdraw cash from transactional account</h1>

			<label>Select ATM : </label> 
			<select th:field="*{id}">
				<option th:each="atm : ${allAtms}" th:value="${atm.id}"
					th:text="${atm.atmId.name}" /> 
			</select> <br>
			<label>Select Transactional Account : </label> 
			<select th:field="*{id}">
				<option th:each="account : ${accounts}"th:value="${account.clientAccountNumber}"
					th:text="${account.clientAccountNumber}" /> 
			</select> <br>
		</div>-->
		</div>
		
	</form>

</body>
</html>