* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: white;
	background-color: black;
	padding: 30px;
}

.content {
	margin: auto; 
	width : 40%;
	border: 3px solid #73AD21;
	padding: 10px;
	font-size: 20px;
	width: 60%;
}

.nameField {
	height: 30px;
	width: 50%;
	font-size: 20px;
}

.searchCustomer {
	margin: auto;
	height: 30px;
	width: 30%;
	font-size: 20px;
}